@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    background-color: white;
    color: black;
    font-size: 0.875rem;
}
img {
    max-width: 100%;
}
/* サイト全体のコンテンツ幅 */
.container {
    max-width: 1000%;
    margin: 0 auto;
}
/* 中のコンテンツの最大幅設定 */
.inner {
    max-width: 600rem;
    margin: 0 auto;
}
.sectuon-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
}
