@charset "utf-8";

#font1 {
    color: cyan;
    font-size: 24px;
    font-family: serif;
    font-weight: bold;

}

#font2 {
    color: #00ffff;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
}

#layout1 {
    text-align: right;
    line-height: 2em;
}

#layout2 {
    text-align: center;
    line-height: 160%;
}

#練習{
    color: rgb(6, 134, 6);
    font-size: 1.5rem;
    line-height:1.8em ;
    text-align: center;
    font-family: serif;
    text-shadow: 2px 1px #558ABB;
}
